<ion-view view-title="Account" name="home">
  <ion-content style="width:100%;height:100%;">
    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand">Apache Spark - Image Classification</a>
            </div>            
        </div>      
    </nav>

    <div class="container">
        <div class="row">
            <div >
                <h1 class="page-header">Image Class Prediction</h1>
            </div>
            <div >
               
                    <a href="#" target="_blank">
                        <img id="img_plc" class="img-responsive" src="img/Caltech_101/test/winter/1.jpg" alt="image" style="border: 0; float: top; margin-top: 150px"/>
                    </a>
                   
                
                     <h3 id="txt_area" style="border: 0;float:left;margin-top: 20px;"> </h3>
                    <input class="vertical-center" ng-click="getImageClassification()" id="clk" type="button" value="Predict" style="border: 0; float: top; margin-top: 50px"/>
                                    
                    <img id="meow" src="img/Caltech_101/animal.gif" alt="O" style="display:none">
                
            </div>

           
            <h4 style="border: 0; float: left; margin-top: 400px">Select an Image:</h4>
             
          
            <div style="border: 0; float: left; margin-top: 400px">
               <a href="#" class="thumbnail">
                    <img class="img-responsive" name="Image" src="img/Caltech_101/test/rainy/9.jpg" alt="" style="border: 0; float: left; margin-right: 15px" />
                </a>
             </div>
                <div style="border: 0; float: left; margin-top: 400px">
              <a href="#" class="thumbnail" >
                <img id="Image" src="img/Caltech_101/test/winter/2.jpg"  style="border: 0; float: left; margin-right: 15px" style="border: 0; float: left; margin-right: 15px">
                </a>
           
            </div>
                <div style="border: 0; float: left; margin-top: 400px">
                <a class="thumbnail" href="#">
                    <img class="img-responsive" name="Image" src="img/Caltech_101/test/summer/3.jpg" alt="" style="border: 0; float: left; margin-right: 15px">
                </a>
            </div>
                <div style="border: 0; float: left; margin-top: 400px">
            
                <a class="thumbnail" href="#">
                    <img class="img-responsive" name="Image" src="img/Caltech_101/test/summer/4.jpg" alt="" style="border: 0; float: left; margin-right: 15px">
                </a>
             </div>
             
            
        </div>
        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; </p>
                </div>
            </div>
        </footer>

    </div>
    <!-- /.container -->
  </ion-content>
</ion-view>
